<div class="navbar">
    <div class="logo">
        <a href="homePage.html"><img src="/img/Logo4.png" alt="Logo" class="logo-img"></a>
    </div>

    <div class="menu">
        <div class="search_bar">
            <input type="text" placeholder="Αναζήτηση">
            <button class="search_btn">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <nav>
            <ul class="nav_links">
                <li><a href="/">Home</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <button class="tickets_btn">Αγορά Εισιτηρίου</button>
    </div>

    <div class="mobile-menu">
        <button class="burger-btn" aria-label="Toggle menu">
            <i class="fas fa-bars"></i>
        </button>
        <div class="mobile-nav">
            <div class="mobile-search_bar">
                <input type="text" placeholder="Αναζήτηση">
                <button class="mobile-search_btn">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <nav>
                <ul class="mobile-nav_links">
                    <li><a href="homePage.html">Home</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
            <button class="mobile-tickets_btn">Αγορά Εισιτηρίου</button>
        </div>
    </div>
</div>