<div class="navbar">
    <div class="logo">
        <a href="/"><img src="/img/Logo4.png" alt="Logo" class="logo-img"></a>
    </div>

    <div class="menu">
        <div class="search_bar">
            <input type="text" placeholder="Αναζήτηση">
            <button class="search_btn">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <nav>
            <ul class="nav_links">
                <li><a href="/wp-admin/user-list">Χρήστες</a></li>
                <li><a href="/wp-admin/tickets">Διαχείρηση Εισιτηρίων</a></li>
                <li><a href="/wp-admin/sales">Πωλήσεις Εισιτηρίων</a></li>
                <li><a href="/wp-admin/emails" target="_blank">E-mail newsletter</a></li>
            </ul>
        </nav>
        <button><span class="material-symbols-outlined">logout</span></button>
    </div>

    <div class="mobile-menu">
        <button class="burger-btn" aria-label="Toggle menu">
            <i class="fas fa-bars"></i>
        </button>
        <div class="mobile-nav">
            <div class="mobile-search_bar">
                <input type="text" placeholder="Αναζήτηση">
                <button class="mobile-search_btn">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <nav>
                <ul class="mobile-nav_links">
                    <li><a href="/wp-admin/user-list">Χρήστες</a></li>
                    <li><a href="/wp-admin/tickets">Διαχείρηση Εισιτηρίων</a></li>
                    <li><a href="/wp-admin/sales">Πωλήσεις Εισιτηρίων</a></li>
                    <li><a href="/wp-admin/emails" target="_blank">E-mail newsletter</a></li>
                    <button class="exit-btn"><span class="material-symbols-outlined">logout</span></button>
                </ul>
            </nav>
            <button class="mobile-tickets_btn">Αγορά Εισιτηρίου</button>
        </div>
    </div>
</div>