<div class="navbar">
    <div class="logo">
        <a href="/"><img src="/img/Logo4.png" alt="Logo" class="logo-img"></a>
    </div>

    <div class="menu">
        <div class="search_bar">
            <input type="text" placeholder="Αναζήτηση">
            <button class="search_btn">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <nav>
            <ul class="nav_links">
                <li><a href="/wp-admin/user-list">Χρήστες</a></li>
                <li><a href="/wp-admin/tickets">Διαχείρηση Εισιτηρίων</a></li>
                <li><a href="/wp-admin/sales">Πωλήσεις Εισιτηρίων</a></li>
            </ul>
        </nav>
        <button><span class="material-symbols-outlined">logout</span></button>
    </div>
</div>