<div class="navbar">
    <div class="logo">
        <a href="/"><img src="/img/Logo4.png" alt="Logo" class="logo-img"></a>
    </div>

    <div class="menu">
        <nav>
            <ul class="nav_links">
                <li><a href="/admin/user-list">Χρήστες</a></li>
                <li><a href="/admin/tickets">Διαχείρηση Εισιτηρίων</a></li>
                <li><a href="/admin/sales">Πωλήσεις Εισιτηρίων</a></li>
                <li><a href="/admin/emails" target="_blank">E-mail newsletter</a></li>
            </ul>
        </nav>
        <a href="/logout"><button><span class="material-symbols-outlined">logout</span></button></a>
    </div>

    <div class="mobile-menu">
        <button class="burger-btn" aria-label="Toggle menu">
            <i class="fas fa-bars"></i>
        </button>
        <div class="mobile-nav">
            <nav>
                <ul class="mobile-nav_links">
                    <li><a href="/admin/user-list">Χρήστες</a></li>
                    <li><a href="/admin/tickets">Διαχείρηση Εισιτηρίων</a></li>
                    <li><a href="/admin/sales">Πωλήσεις Εισιτηρίων</a></li>
                    <li><a href="/admin/emails" target="_blank">E-mail newsletter</a></li>
                    <a href="/logout"><button class="exit-btn"><span class="material-symbols-outlined">logout</span></button></a>
                </ul>
            </nav>
        </div>
    </div>
</div>