.ticket_category{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 2rem;
}

.btn{
    background: #077187;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem;
    color: white;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background: #074f57;
}

table{
    width: 100%;
    text-align: center;
}

th {
    text-align: center;
}

td button{
    background: transparent;
    border: none;
    cursor: pointer;
}

td button:hover{
    background: rgba(169, 169, 169, 0.46);
    border-radius: 5px;
}

tr{
    border-bottom: 1px solid #000000;
}