
<div class="purchase-thankyou-container">
    <div class="purchase-thankyou-content">
        <img src="/img/Logo5.png" alt="Gallery Logo" class="thankyou-logo">
        <h2>Ευχαριστούμε για την αγορά σας!</h2>
        <p>Η συναλλαγή σας ολοκληρώθηκε με επιτυχία.<br>
        Θα λάβετε σχετικό email με τα στοιχεία της αγοράς σας.</p>
        <a href="/" class="thankyou-home-btn">Επιστροφή στην αρχική</a>
    </div>
</div>
