<div class="login-container">
    <h2>Σύνδεση</h2>
    <form>
        <div class="input-group">
            <i class="fas fa-user icon"></i>
            <input type="text" placeholder="Όνομα Χρήστη">
        </div>
        <div class="input-group">
            <i class="fas fa-lock icon"></i>
            <input type="password" placeholder="Συνθηματικό" id="passwordInput">
            <button type="button" class="toggle-password" tabindex="-1" onclick="togglePassword()">
                <i class="fas fa-eye" id="togglePasswordIcon"></i>
            </button>
        </div>
        <button type="submit">Σύνδεση</button>
        <div class="forgot-password">
            <a href="/password-reset">Ξεχάσατε τον κωδικό;</a>
        </div>
    </form>
</div>
