<form>
    <div class="login-form-section">
        <span>Σύνδεση</span>
        <input type="text" placeholder="Username" required>
        <input type="password" placeholder="Password" required>
        <button type="submit">Σύνδεση</button>
    </div>
</form>