<div class="step1">
    <h2>Επαναφορά Κωδικού</h2>
    <form action="/password-reset" method="POST" class="password-reset-form">
        <input type="text" id="reset-identifier" name="identifier" placeholder="Όνομα Χρήστη ή Email" required>
        <button type="button" id="codeBtn">Αποστολή κωδικού επαναφοράς</button>
    </form>
    <div class="back-to-login">
        <a href="/admin">Πίσω στη σύνδεση</a>
    </div>
</div>


<div class="step2 hidden">
    <h2>Επαναφορά Κωδικού</h2>
    <form action="/password-reset" method="POST" class="password-reset-form">
        <input type="text" id="reset-code" name="code" placeholder="Κωδικός επαναφοράς" required>
        <input type="password" id="new-password" name="new_password" placeholder="Νέος Κωδικός" required>
        <input type="password" id="new-password" name="new_password" placeholder="Επιβεβαίωση Κωδικού" required>
        <button type="button" id="resetBtn">Επαναφορά Κωδικού</button>
    </form>
    <div class="back-to-login">
        <a href="/admin">Πίσω στη σύνδεση</a>
    </div>
</div>