<div class="step1">
    <h2>Επαναφορά Κωδικού</h2>
    <form action="/password-reset" method="POST" class="password-reset-form">
        <input type="text" id="reset-identifier" name="identifier" placeholder="Όνομα Χρήστη ή Email" required>
        <button type="submit" id="codeBtn">Αποστολή κωδικού επαναφοράς</button>
    </form>
    <div class="back-to-login">
        <a href="/admin">Πίσω στη σύνδεση</a>
    </div>
</div>