<section class="scroll-section" style="background-image: url('/img/image1.png');" data-aos="fade-up">
    <div class="overlay">
        <h2>Μόνιμη Έκθεση</h2>
        <p>Εξερευνήστε διαχρονικά έργα.</p>
    </div>
</section>

<section class="scroll-section" style="background-image: url('/img/image2.png');" data-aos="fade-up">
    <div class="overlay">
        <h2>Προσωρινή Έκθεση</h2>
        <p>Ανακαλύψτε εκθέσεις περιορισμένου χρόνου που παρουσιάζουν νέους καλλιτέχνες.</p>
    </div>
</section>