<section class="scroll-section" style="background-image: url('/img/image1.png');" data-aos="fade-up">
    <div class="overlay">
        <h2>Μόνιμη Έκθεση</h2>
        <p><a href="/tickets">Εξερευνήστε διαχρονικά έργα.</a></p>
    </div>
</section>

<section class="scroll-section" style="background-image: url('/img/image2.png');" data-aos="fade-up">
    <div class="overlay">
        <h2>Προσωρινή Έκθεση</h2>
        <p><a href="/tickets">Ανακαλύψτε εκθέσεις περιορισμένου χρόνου που παρουσιάζουν νέους καλλιτέχνες.</a></p>
    </div>
</section>