<div class="main_title">
    Πωλήσεις Εισιτηρίων
</div>

<table>
    <thead>
    <tr>
        <th>Ticket ID</th>
        <th>Όνομα</th>
        <th>Email</th>
        <th>Αρ. Εισιτηρίων</th>
        <th>Ενέργεις</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>001</td>
        <td>ABC</td>
        <td>something@example.com</td>
        <td>3</td>
        <td>
            <button><span class="material-symbols-outlined">visibility</span></button>
        </td>
    </tr>
    <tr>
        <td>001</td>
        <td>ABC</td>
        <td>something@example.com</td>
        <td>3</td>
        <td>
            <button><span class="material-symbols-outlined">visibility</span></button>
        </td>
    </tr>
    <tr>
        <td>001</td>
        <td>ABC</td>
        <td>something@example.com</td>
        <td>3</td>
        <td>
            <button><span class="material-symbols-outlined">visibility</span></button>
        </td>
    </tr>
    </tbody>
</table>