<div class="ticket-form-section">
    <div class="exhibition-selection" id="exhibitionSelection">
        {{#each data}}
        <button class="exhibition-btn" data-type="permanent" data-id="{{this.id}}">
            <span>{{this.name}}</span>
        </button>
        {{/each}}
    </div>

    <div class="date-selection hidden" id="dateSelection">
        <label for="date">Επιλέξτε ημερομηνία</label>
        <input type="date" name="date" id="date" required>
        <div class="buttons">
            <button type="button" class="back-btn" id="backButton">
                <i class="fas fa-chevron-left"></i>
                Πίσω
            </button>
            <button type="button" class="next-btn" id="nextButton">
                Επόμενο
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>

    </div>

    <div class="ticket-counter-group hidden" id="ticketForm">
        <div class="counter-block">

            <div class="type">
                <div class="type-header">
                    <label for="adults">Ενήλικες</label>
                </div>
                <div class="counter">
                    <button type="button" class="decrement">−</button>
                    <input type="number" name="adults" id="adults" value="0" min="0" readonly>
                    <button type="button" class="increment">+</button>
                </div>
            </div>

            <div class="type">
                <div class="type-header">
                    <label for="children">Παιδιά</label>
                </div>
                <div class="counter">
                    <button type="button" class="decrement">−</button>
                    <input type="number" name="children" id="children" value="0" min="0" readonly>
                    <button type="button" class="increment">+</button>
                </div>
            </div>
        </div>

        <div class="counter-block">
            <div class="type">
                <div class="type-header">
                    <label for="students">Μαθητές</label>
                </div>
                <div class="counter">
                    <button type="button" class="decrement">−</button>
                    <input type="number" name="students" id="students" value="0" min="0" readonly>
                    <button type="button" class="increment">+</button>
                </div>
            </div>

            <div class="type">
                <div class="type-header">
                    <label for="audioguides">Audioguides</label>
                </div>
                <div class="counter">
                    <button type="button" class="decrement">−</button>
                    <input type="number" name="audioguides" id="audioguides" value="0" min="0" readonly>
                    <button type="button" class="increment">+</button>
                </div>
            </div>
        </div>
        <div class="buttons hidden" id="ticketFormButtons">
            <button type="button" class="back-btn-search" id="backButtonSearch">
                <i class="fas fa-chevron-left"></i>
                Πίσω
            </button>
            <button type="submit" class="searchBtn" id="searchBtn">Search</button>
        </div>
    </div>
</div>

<div class="ticket-list hidden" id="ticketList">
    <table class="tickets-table">
        <tr>
            <th>Κατηγορία</th>
            <th>Ώρα Εισόδου</th>
            <th>Διάρκεια</th>
            <th>Αριθμός Εισιτηρίων</th>
            <th>Τιμή</th>
        </tr>
    </table>
</div>