<div class="main_title">
    Πωλήσεις Εισιτηρίων
</div>

<table>
    <thead>
    <tr>
        <th>Ticket ID</th>
        <th>Όνομα</th>
        <th>Email</th>
        <th>Αρ. Εισιτηρίων</th>
        <th>Ενέργεις</th>
    </tr>
    </thead>
    <tbody>
    {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.toatl_tickets}}</td>
            <td>
                <button><span class="material-symbols-outlined">visibility</span></button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<div id="overlay" class="overlay"></div>
<div id="popup" class="popup">
    <div id="popupContent" class="popup-content"></div>
</div>