<div class="main_title">
Χρήστες
<button><span class="material-symbols-outlined">add</span>Νέος χρήστης</button>
</div>
<table>
    <thead>
    <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>001</td>
        <td>Alice Johnson</td>
        <td>alice@example.com</td>
        <td><button><span class="material-symbols-outlined">edit</span></button></td>
    </tr>
    <tr>
        <td>002</td>
        <td>Bob Smith</td>
        <td>bob@example.com</td>
        <td><button><span class="material-symbols-outlined">edit</span></button></td>
    </tr>
    <tr>
        <td>003</td>
        <td>Charlie Brown</td>
        <td>charlie@example.com</td>
        <td><button><span class="material-symbols-outlined">edit</span></button></td>
    </tr>
    </tbody>
</table>