<div class="main_title">
    Χρήστες
    <button><span class="material-symbols-outlined">add</span>Νέος χρήστης</button>
</div>
<table>
    <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.nicename}} ({{this.login}})</td>
                <td>{{this.email}}</td>
                <td class="actions-cell">
                    <div class="action-wrapper">
                        <button class="edit-action-btn">
                            <span class="material-symbols-outlined">edit</span>
                        </button>
                        <div class="action-menu hidden">
                            <button class="action-delete">
                                <span class="material-symbols-outlined">delete</span>Διαγραφή
                            </button>
                            <button class="action-edit">
                                <span class="material-symbols-outlined">edit_square</span>Επεξεργασία
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>