table{
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}

th {
    text-align: center;
}

td button{
    background: transparent;
    border: none;
    cursor: pointer;
}

td button:hover{
    background: rgba(169, 169, 169, 0.46);
    border-radius: 5px;
}

tr{
    border-bottom: 1px solid #000000;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 998;
}

.popup {
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 0 0;
    z-index: 999;
    transition: 0.4s ease;
}

.popup-content h2 {
    margin-top: 0;
    color: #2c3e50;
}

.popup-content {
    text-align: left;
}

.popup.show {
    bottom: 0;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}

